.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid lightgrey;
  background: white;
  border-radius: 4px;
  min-height: 75px;
  cursor: pointer;

  &:hover {
    background-color: #fafafa;
  }

  .title {
    font-weight: bold;
    padding-bottom: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .info {
    &,
    & * {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .priority {
      padding: 0.25rem;
      background-color: #eeeef0;
      border-radius: 5px;
      text-transform: capitalize;
    }

    .avatar {
      gap: 2rem;
      .id {
        font-style: italic;
        font-weight: 600;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .card {
    min-height: 50px;
    font-size: 0.85rem;
    .info {
      &,
      & * {
        // flex-direction: column;
        flex-wrap: wrap;
      }
      .avatar {
        gap: 0.5rem !important;
        img {
          width: 15px !important;
          height: 15px !important;
        }
      }
    }
  }
}
