.modal {
  display: flex;
  justify-content: right;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    overflow: hidden;
    background-color: white;
    padding: 2rem;

    .header {
      display: flex;
      justify-content: right;
      gap: 2rem;
    }

    .footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}
