.close {
  background-color: white;
  border: 1px solid transparent;
  padding: 0.35rem;
  cursor: pointer;
  img {
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color: #fafafa;
  }
}
